.learn {
  margin-top: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #590bb2;
  background: #eae7fb;
}

.timeline-img {
  width: 95%;
}
